footer.footer
    .footer__logo
        img(src='/img/logo.png' alt='Recorrido Logo')
    ul.footer__nav
        li: a(href='#') About Us    
        li: a(href='#') Download Apps
        li: a(href='#') Become  a guide
        li: a(href='#') Careers
        li: a(href='#') Contact
    p.footer__copyright &copy; by 
        a(href='https://github.com/logicb0mb',title='Click to check my GitHub') Shreyas Shukla.
        span  All rights reserved!
